# Finder (MacOS) folder config
.DS_Store

**/*.trace
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.log

# bun
/node_modules
/.pnp
.pnp.js

package-lock.json
npm-debug.log*
**/*.bun

# output
out
dist
*.tgz
/build

# dotenv environment variable files
.env
.env.*

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# testing
/coverage
*.lcov

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDE
.vscode
.idea
.antigravity
